<head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'Comfortaa', cursive;
      }
    </style>

    </head>
    
    <script type=text/javascript>
      var timeout = 2000; // ms
      var ch1 = [];
      var ch2 = [];
      
      // Makes AJAX request to Flask server
      function executeQuery() { 
        $.get($SCRIPT_ROOT  + '/_model_output', function(data) {
            $("#model_out").text(data.result);
            if (data.result == "0") {
              console.log('the model output is 0');
              console.log(document.getElementById("one"));
              //document.getElementById("one").style.visibility="hidden";
              document.getElementById("one").style.visibility="visible";
            } else {
              console.log('the model output is 1')
              console.log(document.getElementById("zero"));
              //document.getElementById("zero").style.visibility="hidden";
              document.getElementById("one").style.visibility="visible";
            }
          });
          $.get($SCRIPT_ROOT + '/_model_data', function(data) {
            $("#model_data").text(data.result);
            
            ch1 = (document.getElementById("ch1").checked || document.getElementById("all").checked) ? data.result[0] : 0;
            ch2 = (document.getElementById("ch2").checked || document.getElementById("all").checked) ? data.result[1] : 0;
            ch3 = (document.getElementById("ch3").checked || document.getElementById("all").checked) ? data.result[2] : 0;
            ch4 = (document.getElementById("ch4").checked || document.getElementById("all").checked) ? data.result[3] : 0;
            ch5 = (document.getElementById("ch5").checked || document.getElementById("all").checked) ? data.result[4] : 0;
            ch6 = (document.getElementById("ch6").checked || document.getElementById("all").checked) ? data.result[5] : 0;
            ch7 = (document.getElementById("ch7").checked || document.getElementById("all").checked) ? data.result[6] : 0;
            ch8 = (document.getElementById("ch8").checked || document.getElementById("all").checked) ? data.result[7] : 0;
          });
        }
        
        function plotData() {
          Highcharts.chart('container', {
            
            title: {
              text: 'Live Voltage Readings'
            },
            
            yAxis: {
              title: {
                text: 'Voltage'
              }
            },
            
            legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle'
            },
            
            plotOptions: {
              series: {
                label: {
                  connectorAllowed: false
                }
              }
            },
            
            series: [{
              name: 'Channel 1',
              data: ch1
            }, {
              name: 'Channel 2',
              data: ch2
            }, {
              name: 'Channel 3',
              data: ch3
            }, {
              name: 'Channel 4',
              data: ch4
            }, {
              name: 'Channel 5',
              data: ch5
            }, {
              name: 'Channel 6',
              data: ch6
            }, {
              name: 'Channel 7',
              data: ch7
            }, {
              name: 'Channel 8',
              data: ch8
            }],
            
            responsive: {
              rules: [{
                condition: {
                  maxWidth: 500
                },
                chartOptions: {
                  legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                  }
                }
              }]
            }
            
          });
        }
        
        $(function() {
          setInterval(executeQuery, timeout);
          setInterval(plotData, timeout);
        });
        </script>
    
    <body>
      <h1>Live Voltage Data</h1>
      Model output: <span id="model_output"></span><br>
      <!-- Model data: <span id="model_data"></span> -->

      <div id="zero" style="visibility: hidden">
        <!-- <p>Red image</p> -->
        <img src="{{url_for('static', filename='red3.png')}}" width="55" height="40"/>
      </div>
      <div id="one" style="visibility: hidden">
        <!-- <p>Green image</p> -->
        <img src="{{ url_for('static', filename='green3.png') }}" width="55" height="40"/>
      </div>
      
      <figure class="highcharts-figure">
        <div id="container"></div>
      </figure>
      
      <div class="container">
        <h2>Choose which channels to view:</h2>
        <form>
          <label class="checkbox-inline">
            <input type="checkbox" id="all" value="" checked>All Channels
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="ch1" value="">Channel 1
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="ch2" value="">Channel 2
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="ch3" value="">Channel 3
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="ch4" value="">Channel 4
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="ch5" value="">Channel 5
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="ch6" value="">Channel 6
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="ch7" value="">Channel 7
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="ch8" value="">Channel 8
          </label>
        </form>
      </div>



      <button>Connect Device</button>
      <script type="text/javascript">
        function isWebBLEAvailable() {
            if (!navigator.bluetooth) {
                console.log('BLE not available')
                return false
            }
            console.log('Success')
            return true
        }

        function getDeviceInfo() {
            let options = {
                filters: [
                    { name: 'MINT Remote'}
                ]
            }

            navigator.bluetooth.requestDevice(options).then(device => {
                console.log('Name: ' + device.name)
            }).catch( error => {
                console.log('Error: ' + error)
            })
        }

        document.querySelector('button').addEventListener('click', function(event) {
            event.stopPropagation()
            event.preventDefault()
            
            if(isWebBLEAvailable()) {
                getDeviceInfo()
            }
        })
      </script>
    </body>